---
# tasks file for 01-user-dependencies


#- name: Make lib directory
#  tags:
#    - jaspar
#    - 01-user-dependencies
#  ansible.builtin.file:
#    state: directory
#    path: '{{ jaspar_app_dir }}/lib'
#    owner: '{{ ansible_user }}'
#    mode: u=rwx,g=rx,o=rx
#
#- name: Check blast was correctly installed and accessible
#  tags:
#    - jaspar
#    - 02-user-blast
#  ansible.builtin.command:
#    cmd: 'which blastp'
#  register: which_blast
#  failed_when: which_blast is not regex(jaspar_base_dir)
#
#- name: Check hmmer was correctly installed and accessible
#  tags:
#    - jaspar
#    - 02-user-hmmer
#  ansible.builtin.command:
#    cmd: 'which nhmmer'
#  register: which_hmmer

- name: Create conda environment with correct package
  become: false
  ansible.builtin.command:
    cmd: 'conda create -c defaults -c conda-forge -c bioconda -y -p {{ jaspar_app_dir }}/lib/usr/local {{ requirements_conda | join(" ") }}'
#  when: which_blast is not regex(jaspar_base_dir) and which_hmmer is not regex(jaspar_base_dir)


- name: Add another bin dir to system-wide $PATH.
  become: true
  ansible.builtin.lineinfile:
    path: /etc/profile.d/custom-path.sh
    line: 'PATH=$PATH:{{ jaspar_app_dir }}/lib/usr/local/bin'
    create: yes
  when: ansible_env.PATH is not search('/var/www/apps/{}/lib/usr/local/bin'.format(jaspar_app))


- name: Install python package
  ansible.builtin.pip:
    extra_args: '--root {{ jaspar_app_dir }}/lib'
    name:
      - bootstrap-admin==0.4.4
      - pyjaspar
      - biopython==1.76
      - coreapi==2.3.3
      - django==2.2.17
      - django-filter==21.1
      - django-bootstrap-form==3.4
      - django_compressor==4.4
      - django-debug-toolbar==3.2.4
      - django-recaptcha==3.0.0
      - django-rest-framework==0.1.0
      - django-rest-swagger==2.2.0
      - djangorestframework-jsonp==1.0.2
      - djangorestframework-yaml==2.0.0
      - markdown==3.5.2
      - numpy
      - pandas
      - scipy
      - tqdm==4.66.1
      - tzdata==2023.4
      - pygments==2.17.2
      - python_dateutil==2.8.2
      - sqlparse==0.4.4
      - zipp==3.17.0
      - inmotifin
      - memelite
